node_modules
/out

.env
.env.production
.env.local
.env_main

node-compile-cache

.idea
.vscode
.zed
.DS_Store

dist/

cookies.json

*.gguf
*.onnx
*.wav
*.mp3

logs/

*.sqlite

tsup.config.bundled_*.mjs

.turbo
.cursorrules
.pnpm-store

# Configuration to exclude the extra and local_docs directories
extra
**/dist/**